<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Vasya
            <span class="text-primary">Petrov</span>
        </h1>
        <div class="subheading mb-5">
            Минск, 4-ый Загородный переулок, д. 56а
            <a html_code=f' href="tel:{phone_number}">+375447402257</a> mail:
            <a href="mailto:{gmail.com}">petrov@gmail.com</a>
        </div>
        <p class="lead mb-5">I am try to learn FastAPI</p>
        <div class="social-icons">
            <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/kjmeels/social_network"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://ru-ru.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
