<section class="resume-section" id="certificates">
    <div class="resume-section-content">
        <h2 class="mb-5">Certificates</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"></h3>
                <span class="d-none d-lg-block"><img class="img" src="../../static/social_network/images/img/Сертификат-ИнфоТеКС-770x513.jpg" alt="..." /></span>
            </div>

        </div>
    </div>
</section>